.draggle-layout-wrap {
  display: flex;
}
.draggle-layout-a {
  position: relative;
}
.draggle-layout-b {
  flex: 1;
}
.draggle-layout-border {
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  background-clip: content-box;
  &:hover {
    background-color: #0091ff;
  }
}
.draggle-layout-border-hoz {
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 8px;
  cursor: ns-resize;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
.draggle-layout-border-ver {
  top: 0;
  right: -4px;
  width: 8px;
  height: 100%;
  cursor: ew-resize;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}
.draggle-layout-wrap-hoz {
  flex-direction: column;
  height: 100%;
  .draggle-layout-a,
  .draggle-layout-b {
    width: 100%;
  }
}
.draggle-layout-wrap-ver {
  flex-direction: row;
  width: 100%;
  & > .draggle-layout-a,
  & > .draggle-layout-b {
    height: 100%;
  }
}
