.home-wrap {
  background-color: #fff;
}

.container {
  //   width: 400px;
  height: 200px;
  background-color: azure;
  li {
    // background-color: #333;
    border-bottom: 2px solid red;
    color: red;
    height: 30px;
  }
}
