$pink: #237245;
$fff: #fff;
.excel-wrap {
  width: 100%;
  height: 100%;
  background-color: $fff;
  border: 1px solid #bdbbbc;
  overflow: hidden;
  position: relative;
  canvas {
    position: absolute;
  }
  #row-col-canvas {
    z-index: 10;
  }
  #content-canvas {
    z-index: 5;
  }
}
.excel-focus-cell {
  position: absolute;
  border: 2px solid #227346;
  outline: none;
  z-index: 6;
}