.field-form-help {
    font-size: 12px;
    line-height: 16px;
    color: #999;
    margin-top: 4px;
}
.field-form-label .next-form-item-label label > div > p {
    line-height: 20px;
    text-align: left;
}